# ─────────────────────────────────────────────────────────────────────────────
# BELAJAR WSO2 APPLICATION - ENVIRONMENT CONFIGURATION
# ─────────────────────────────────────────────────────────────────────────────

# --- Docker Image Sizing ---
MI_IMAGE=belajarwso2:1.0.0

# --- Service Internals (Ports) ---
MI_PORT=8291
MI_HTTPS_PORT=8254

# --- JVM Memory Sizing ---
MI_JAVA_OPTS="-Xms512m -Xmx1024m"
